{% extends "base.html" %}

{% load static %}

{% block EnlacesPersonalizados %}
    
<!-- ======= Icons used for dropdown (you can use your own) ======== -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">



    

{% endblock %}

{% block titulo %}Index{% endblock %}

{% block contenedor %}



<div class="container ">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Biblioteca</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'src:index' %}" >
                Home
              </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Link
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="#">accion1</a></li>
              <li><a class="dropdown-item" href="#">accion2</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">accion3</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
         <button class="btn btn-outline-success"><a href="{% url 'src:logout' %}">Salir</a></button>
        </form>
      </div>
    </div>
  </nav>

  <div class="row">
    <div class="col-sm-4 border">
      
      <h3>Registrar Libro</h3>
      <form action="#" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar</button>
     </form>


    </div>
    <div class="col-sm-8 border">
      <h3>Lista de Libros</h3>
      <hr>
      {% for libro in Libros %}
        <ul>
          <li>Nombre Libro: {{libro.nombre}}</li>
          <li>Nombre Autor: {{libro.autor}}</li>
          <li><a href="{% url 'src:Libro_eliminar' libro.id %}" class="btn btn-danger" title="Delete"><i class="bi bi-trash-fill"></i></a></li>
        </ul>
        <hr>
      {% endfor %}
    </div>
  </div>

</div><!---fin de container--->



{% endblock %}


{% block EnlacesListado_js %}




  

{% endblock %}